#!/bin/bash

alias grep='grep --color=auto'
alias ll='ls -al'

alias ip='echo -n `ipconfig getifaddr en0` | tee >(pbcopy)' # internal
alias ip.e='echo -n `curl -s ipecho.net/plain` | tee >(pbcopy)' # internal
alias subl='open -a "Sublime Text"'
alias hosts='open /etc/hosts'
alias mongostart='launchctl start org.mongodb.mongo'
alias mongostop='launchctl stop org.mongodb.mongo'
alias ~='cd ~'
alias ..='cd ..'


# Git
alias cd.root='cd $(git rev-parse --show-toplevel)' # go to git project root

# trace network activity
alias sniff="sudo ngrep -W byline -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
