[user]
[core]
	quotepath = false
	excludesfile = ~/.gitignore
	editor = code
[mergetool]
	keepBackup = true
[alias]
    b = branch
    t = tag
    ct = commit -v
    co = checkout
    st = status -sb
    ll = log --graph --date=relative --topo-order --pretty='format:%C(yellow)%h%C(yellow)%d %Cblue%ar %Cgreenby %an%Creset -- %s'
    lla = log --graph --date=relative --topo-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' --all
    ll1 = log --graph --date=relative --topo-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' --all -1
[branch]
    autosetuprebase = always
[branch "master"]
    rebase = true
[color]
	ui = true
[merge]
	tool = opendiff
[push]
	default = upstream
